**/__pycache__/
**/*.bin
**/*.ann
**/*.pth

**/.idea/

# Ignore some image files by default (otherwise they will most likely be added
# by accident)
*.jpg
*.png

# Ignore some video files by default
*.mp4
*.mov

# Allow a place for all to place their local files that will be ignored by
# default
local-files/

################################################################################
# Feature Extraction
################################################################################
featureextraction/measurements/

################################################################################
# Nearest Neighbour
################################################################################
nearestneighbor/data/
nearestneighbor/test_data/

################################################################################
# Keyframe Extraction
################################################################################
KeyFrameExtraction/VSUMM/Results/
KeyFrameExtraction/VSUMM/Scripts/**/*.txt