**/__pycache__/
**/*.bin
**/*.ann
**/*.pth

**/.idea/

# Ignore all image files by default (otherwise they will most likely be added
# by accident)
*.jpg
*.png

################################################################################
# Feature Extraction
################################################################################
featureextraction/measurements/*
